/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    .container {
        width: 780px;
    }
    .create-user {
        width: 270px;
        padding: 20px 20px 10px;
        border-radius: 10px;
        background: var(--primary-color);
        overflow: hidden;
        position: relative;
    }

    .create-form {
        padding: 28px 18px;
    }

    .circle {
        width: 80px;
        height: 80px;

        opacity: 0.95;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        right: 55px;
        bottom: 60px;
    }
    
    .circle.large {
        width: 230px;
        height: 230px;
        z-index: 0;
        opacity: 1;

        right: -110px;
        bottom: -110px;
    }
}

/* Medium size */
@media screen and (max-width: 767.98px) {
    .container {
        width: 600px;
    }
    .create-user {
        display: none;
    }
    .form-row {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
}

/* Small size */
@media (max-width: 575.98px) {
    .container {
        width: 500px;
    }
}